doctype 5
html
	head
		title= title
		script(type="text/javascript" data-main="scripts/SimpleSliderbox_main.js" src="scripts/require.js")
	body
		block content
			h1= title
			p Welcome to #{title}
			div(id="modeldiv", modelname="#{modelname}")