body
{
	background: -webkit-linear-gradient( top left, #8c897a, #d7d4c3, #a6aac3 );
	background: -moz-linear-gradient( top left, #8c897a, #d7d4c3, #a6aac3 );
	font-family:Calibri ; font-size:16px; 
} 

#API
{
	font-family:arial, helvetica; font-size:14px; 
	color:#000000;
	width:700px;
	margin: 15px;
	border:2px solid;
	border-radius:5px;
	border-color:#000000;
	background-color:  #a5accc;         
}
#APItext {
		margin-left : 20px;
		margin-top : 10px;
		margin-bottom : 10px;
}
#Credits {
	font-family:Calibri ; font-size:12px; 
}