body
{
background: -webkit-linear-gradient( top left, #7f1906, #d38d0a, #54040C );
font-family:Calibri ; font-size:16px; 
} 

#API
{
	font-family:arial, helvetica; font-size:14px; 
	color:#000000;
	width:700px;
	margin: 15px;
	border:2px solid;
	border-radius:5px;
	border-color:#000000;
	background-color:#ffffaa; //#cccc66; //#9fa036;
}
#APItext {
		margin-left : 20px;
		margin-top : 10px;
		margin-bottom : 10px;
}
#Credits {
	font-family:Calibri ; font-size:12px; 
}